# Dependencies
node_modules
.pnp
.pnp.js

# Production
dist
build

# Misc
.DS_Store
*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.production
